@-webkit-keyframes pulse {
    from {-webkit-transform: scale(1.2);}
    to {-webkit-transform: scale(0.9);}
}
@keyframes pulse {
    from {transform: scale(1.2);}
    to {transform: scale(0.9);}
}

@-webkit-keyframes ray_anim {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes ray_anim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes pump {
    from {
        top: -0.75em;
        right: -5em;
        width: 1.5em;
        height: 1.5em;
    }
    to {
        top: -1.15em;
        right: -6em;
        width: 2.5em;
        height: 2.5em;
    }
}
@keyframes pump {
    from {
        top: -0.75em;
        right: -5em;
        width: 1.5em;
        height: 1.5em;
    }
    to {
        top: -1.15em;
        right: -6em;
        width: 2.5em;
        height: 2.5em;
    }
}
