@-webkit-keyframes pulse {
    from {-webkit-transform: scale(1.2);}
    to {-webkit-transform: scale(0.9);}
}
@keyframes pulse {
    from {transform: scale(1.2);}
    to {transform: scale(0.9);}
}

@-webkit-keyframes ray_anim {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes ray_anim {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes pump {
    from {
        top: -0.75em;
        right: -5em;
        width: 1.5em;
        height: 1.5em;
    }
    to {
        top: -1.15em;
        right: -6em;
        width: 2.5em;
        height: 2.5em;
    }
}
@keyframes pump {
    from {
        top: -0.75em;
        right: -5em;
        width: 1.5em;
        height: 1.5em;
    }
    to {
        top: -1.15em;
        right: -6em;
        width: 2.5em;
        height: 2.5em;
    }
}

@-webkit-keyframes flash {
    from { opacity: 0.6; }
    to { opacity: 1; }
}
@keyframes flash {
    from { opacity: 0.6; }
    to { opacity: 1; }
}
.flash {
    -webkit-animation: flash 1s ease-out infinite alternate;
    animation: flash 1s ease-out infinite alternate;
}

@-webkit-keyframes stromb {
    from { -webkit-filter: invert(0) }
    to { -webkit-filter: invert(1) }
}
@keyframes stromb {
    from { filter: invert(0); }
    to { filter: invert(1); }
}
.stromb {
    -webkit-animation: stromb .1s ease-out infinite alternate;
    animation: stromb .1s ease-out infinite alternate;
}
